{
  "presets": [
    [
      "es2015",
      {
        "modules": false
      }
    ],
    "stage-0",
    "react"
  ],
  "plugins": [
    "react-hot-loader/babel",
    "transform-decorators-legacy"
  ],
  "env": {
    "production": {
      "plugins": []
    },
    "development": {
      "plugins": []
    },
    "test": {
      "plugins": [
        "istanbul"
      ]
    }
  }
}